body {
    font-size: 16px;
    font-family: "Roboto", Arial, sans-serif;
    padding: 0;
    margin: 0;
}

a {
    color: #ad67d2;
    text-decoration: none;
}

a:hover,
a:active {
    color: #8900c6;
}

h3 {
    margin: 0;
}

.main {
    width: 700px;
    margin: 32px auto;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 3px;
    padding: 4px 6px;
    background-color: #8900c6;
    color: white;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;;
}

.btn.danger {
    color: #e5003c;
    border: 1px solid #e5003c;
    background-color: #ffc4be;
}

.btn.danger:hover,
.btn.danger:active {
    background-color: white;
    color: #8900c6;
}

.social-slider {
    width: 50px;
    height: 100px;
    position: fixed;
    left: 0;
    top: 25vh;
    background-color: #ad67d2;
    box-shadow: 1px 1px 1px darkgray;
}

.main-nav {
    border-bottom: 1px solid lightgray;
    -webkit-box-shadow: 0 2px 2px lightgray;
    -moz-box-shadow: 0 2px 2px lightgray;
    box-shadow: 0 2px 2px lightgray;
    text-align: center;
    font-size: 28px;
    background-color: #ad67d2;
}

.main-nav ul,
.main-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav ul li,
.main-footer ul li {
    display: inline-block;
    padding: 32px 60px;
    transition: background-color 0.2s;
}

.main-nav li:hover {
    background-color: white;
}

.main-nav a {
    color: white;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.main-nav li:hover a,
.main-nav a:hover,
.main-nav a:active {
    color: #ad67d2;
}

.active a {
    color: #ad67d2;
}

.main-footer {
    padding: 32px;
    text-align: center;
    font-size: 14px;
}

.blog-post {
    border: 2px solid #ad67d2;
    -webkit-border-radius: 8px 0 8px 8px;
    -moz-border-radius: 8px 0 8px 8px;
    border-radius: 8px 0 8px 8px;
    padding: 16px;
    margin-bottom: 32px;
}

.subtitle {
    color: darkgray;
    font-size: 14px;
}

.pagination {
    font-size: 28px;
}

.pagination a {
    padding: 0 16px;
}

#contact-form input{
    width: 66%;
}